@media(min-width: 1024px) {
  
  .vitrine .logo {
    margin-top: 6.944%;
    margin-left: 8.333%;
    position: absolute;
    margin-left: 40px;
  }

  h1 {
    width: 320px;
    height: 133px;
    text-align: center;
    font: normal normal 900 100px/133px Playfair Display;
    letter-spacing: 7.5px;
    color: #E7E9E6;
    opacity: 1;
    
  }
  
  h3 {
    width: 312px;
    height: 53px;
    text-align: center;
    font: normal normal normal 40px/53px Playfair Display;
    letter-spacing: 16px;
    color: #E7E9E6;
    opacity: 1;
  }

  .vitrine p {
    margin-top: 43.703%;
    width: 540px;
    height: 266px;
    text-align: right;
    font: normal normal normal 100px/133px Playfair Display;
    letter-spacing: 0px;
    color: #E7E9E6;
    opacity: 1;
    position: absolute;
  }

  .produtos {
    background-color: var(--preto);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h2{
    width: 449px;
    height: 107px;
    text-align: center;
    font: normal normal bold 80px/107px Playfair Display;
    letter-spacing: 0px;
    color: #B7AB9D;
    opacity: 1;
  }

  .produtos li{
    float: left;
  }

  img {
    width: 437px;
    height: 547px;
  }

  button {
    width: 318px;
    height: 98px;
    background: #D6C2B7 0% 0% no-repeat padding-box;
    border: 2px solid #B7AB9D;
    opacity: 1;
  }






}