@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --bege: #B7AB9D;
  --preto: #35363A;
  --rose: #D6C2B7;
  --cinza: #E7E9E6;
}

ul {
  list-style-type:none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 100vh;
  overflow: hidden;
  padding: 0 46px;
}

.vitrine {
  height: 100vh;
  position: relative;
}

.vitrine:before {
  content: '';
  background: url('Grupo_15.png') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contato header{
  background-color: var(--bege);
}

.contato footer{
  background-color: var(--cinza);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

