@media(max-width: 1024px) {
.vitrine{
  width: auto;
  height: 661.5px;
}

.vitrine h1{
  top: 30px;
  left: 40px;
  width: 134px;
  text-align: center;
  font: normal normal 900 42px/56px Playfair Display;
  letter-spacing: 3.15px;
  color: #E7E9E6;
  opacity: 1;
  height: 56px;
}

.vitrine h3 {
  left: 43px;
  width: 126px;
  height: 21px;
  text-align: center;
  font: normal normal normal 16px/21px Playfair Display;
  letter-spacing: 6.4px;
  color: #E7E9E6;
  opacity: 1;
  top: 81px;
}

.vitrine p {
  top: 497px;
  left: 37%;
  width: 205px;
  height: 102px;
  text-align: right;
  font: normal normal normal 38px/51px Playfair Display;
  letter-spacing: 0px;
  color: #E7E9E6;
  opacity: 1;
  position: absolute;
}

.vitrine .logo {
  margin-top: 26.5px;
  position: absolute;
  margin-left: 40px;
}

/* CSS dos produtos*/
.produtos {
  margin-top: -10px;
  width: auto;
  height: 1292px;
  background: #35363A 0% 0% no-repeat padding-box;
  opacity: 1;
}

.produtos h2 {
  top: 741px;
  left: 75px;
  width: 225px;
  height: 53px;
  text-align: left;
  font: normal normal bold 40px/53px Playfair Display;
  letter-spacing: 0px;
  color: #B7AB9D;
  opacity: 1;
  position: absolute;
}

  

.produtos li img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10%;
}

#anel {
  left: 73px;
  width: 230px;
  height: 288px;
  opacity: 1;
  top: 825px;
  position: absolute;
} 

#relogio {
  left: 73px;
  width: 230px;
  height: 288px;
  opacity: 1;
  top: 1178px;
  position: absolute;
}

#colar {
  left: 73px;
  width: 230px;
  height: 288px;
  top: 1532px;
  position: absolute;
}

.produtos button {
  text-align: center;
  font: normal normal normal 21px/28px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
}

.produtos #b1{
  left: 106px;
  width: 167px;
  height: 52px;
  background: #D6C2B7 0% 0% no-repeat padding-box;
  border: 2px solid #B7AB9D;
  opacity: 1;
  top: 1125px;
  position: absolute;
}

.produtos #b2 {
  left: 104px;
  width: 167px;
  height: 52px;
  background: #D6C2B7 0% 0% no-repeat padding-box;
  border: 2px solid #B7AB9D;
  opacity: 1;
  top: 1478px;
  position: absolute;
}

.produtos #b3 {
  top: 1830px;
  left: 104px;
  width: 167px;
height: 52px;
background: #D6C2B7 0% 0% no-repeat padding-box;
border: 2px solid #B7AB9D;
opacity: 1;
  position: absolute;
}

.produtos #n1{
  left: 106px;
  height: 28px;
  text-align: center;
  font: normal normal normal 21px/28px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  top: 874px;
  position: absolute;
}

.produtos #n2{
  left: 114px;
  height: 28px;
  text-align: center;
  font: normal normal normal 21px/28px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  position: absolute;
  top: 1227px;
}

.produtos #n3{
  left: 97px;
  height: 28px;
  text-align: center;
  font: normal normal normal 21px/28px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  top: 1581px;
  position: absolute;
}

/* CSS do contato */

.contato h5 {
  text-align: center;
  font: normal normal 900 69px/92px Playfair Display;
  letter-spacing: 5.17px;
  color: #35363A;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

.contato h6 {
  left: 80px;
  text-align: center;
  font: normal normal normal 28px/37px Playfair Display;
  letter-spacing: 11.2px;
  color: #35363A;
  opacity: 1;
  top: 2063px;
  margin-left: auto;
  margin-right: auto;
}

.contato p {
  left: 43px;
  width: 290px;
  height: 27px;
  text-align: center;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  margin-top: 19.33px;
  position: absolute;
}

.contato footer {
  top: 2333px;
  left: -29.59326171875px;
  width: auto;
  height: 62px;
  background: #E7E9E6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.contato header{
  top: 1856px;
  left: -47px;
  width: auto;
  height: 368px;
  background: #B7AB9D 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.contato #td {
  top: 2160px;
left: 101px;
height: 27px;
text-align: left;
font: normal normal normal 20px/27px Playfair Display;
letter-spacing: 0px;
color: #35363A;
opacity: 1;
position: absolute;
}

.contato #ed {
  top: 2199px;
  left: 101px;
  width: 180px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  position: absolute;
}

.contato #id {
  left: 101px;
  width: 149px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Playfair Display;
  letter-spacing: 0px;
  color: #35363A;
  opacity: 1;
  position: absolute;
  top: 2237px;
}

.contato #th{
  top: 2168px;
  left: 60px;
  width: 18px;
  height: 18px;
  opacity: 1;
  position: absolute;
}

.contato #eh{
  top: 2209px;
  left: 60px;
  width: 20px;
  height: 16px;
  opacity: 1;
  position: absolute;
}

.contato #ih{
  top: 2244px;
  left: 60px;
  width: 21px;
  height: 21px;
  opacity: 1;
  position: absolute;
}

}