@media(max-width: 1024px) {
.envolvimento {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.envolvimento .gatilho {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height:50px;
  opacity:0 ;
}

.envolvimento .sanduiche {
  position: absolute;
  top: 0;
  right:0 ;
  width: 60px;
  height:60px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Linha do Sanduiche*/
.envolvimento .sanduiche > div {
  z-index: 5;
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background: #E7E9E6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/*Linha de cima e debaixo Sanduiche*/
.envolvimento .sanduiche > div:before,
.envolvimento .sanduiche > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/*Move as linhas pra baixo*/
.envolvimento .sanduiche > div:after {
  top: 10px;
}

/*Animação*/
.envolvimento .gatilho:checked +.sanduiche>div {
  transform: rotate(135deg)
}

/*Transforma em X*/
.envolvimento .gatilho:checked + .sanduiche > div:before,
.envolvimento .gatilho:checked + .sanduiche > div:after {
  top:0;
  transform: rotate(90deg);
}

/*Gira quando passa o cursor e está checado*/
.envolvimento .gatilho:checked:hover + .sanduiche > div {
  transform: rotate(225deg);
}

/*Esconde o texto do menu*/
.envolvimento .menu {
  position: fixed;
  top: 0;
  right:0;
  visibility: hidden;
  display: flex;
  justify-content: center;
}

/* Mostra o Menu */
.envolvimento .gatilho:checked ~ .menu {
  visibility: visible;
}

.envolvimento .gatilho:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.5s;
}

.envolvimento .gatilho:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.envolvimento .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* configurações do fundo do menu */
.envolvimento .menu > div {
  background: var(--preto);
  width: 100vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;

}

.envolvimento .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.envolvimento .menu > div > div > ul > li {
  list-style: none;
  color: var(--bege);
  font-size: 24px;
  padding: 16px;
}

.envolvimento .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/* customização do texto */

.menu li {
  text-align: center;
  font: normal normal normal 35px/47px Playfair Display;
  letter-spacing: 0px;
  color: #B7AB9D;
  opacity: 1;
}


}

@media(min-width: 1024px) {
  .gatilho {
    position: fixed;
    top: 0;
    right:0;
    visibility: hidden;
    display: flex;
    justify-content: center;
  }
}